.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding:40px;
    height: 100vh;
}

.Contact p{
    max-width: 600px;
    margin:30px;
}