.Contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding:40px;
    height: 100vh;
}

.Contact h2{
    text-transform: uppercase;
}

.Contact p{
    max-width: 500px;
    margin:30px;
    text-align: center;
}

.Contact a{
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-color: black;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.Contact a:hover{
    border-color: #f0f0f0;
    transform: translate(-5px,-5px);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}