.projectSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    min-height: 100vh;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 10px; /* Spacing between grid items */
    padding: 20px;
}

/* Media query for smaller screens */
@media (max-width: 908px) {
    .projects {
        display: flex;
        flex-direction: column; /* Stacks the cards vertically */
        align-items: center; /* Centers the items */
    }

    .projectSection h2 {
        font-size: 2rem; /* Smaller font size for headings */
    }

    .projectCard h3 {
        font-size: medium; /* Smaller font size for project titles */
    }

    .projectCard p {
        font-size: small; /* Smaller font size for descriptions */
    }

    .projectSkillItem {
        font-size: xx-small; 
    }
}

.projectSection h2 {
    font-size: 2.5rem; /* Default font size for headings */
}

.projectCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.projectLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.linkIcon {
    cursor: pointer;
}

.projectCard h3 {
    font-size: large;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.projectCard p {
    max-width: 300px;
    font-size: small; /* Default font size for descriptions */
}

.projectSkills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.projectSkillItem {
    font-size: x-small; /* Default font size for skill items */
    margin-top: 2px;
    margin-right: 5px;
    color: var(--secondary-color);
}

.showMoreButton {
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Initial shadow */
    padding: 20px;
    cursor: pointer; /* Indicates button is clickable */
    transition: transform 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease; /* Smooth transitions */
}

.showMoreButton:hover {
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 0px var(--secondary-color); /* Shadow to bottom right */
}

.projectCard:hover, .projectCard:active, .projectCard:focus{
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 15px var(--foreground);
}


