.projectSection{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px;
    min-height: 100vh;
}
.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
    gap: 10px; /* Spacing between grid items */
    padding: 20px;
}

.projectSection h2{
    font-size: 2.5rem;
}

.projectCard{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); 
}

.projectLinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    margin-bottom: 10px;
}

.linkIcon{
    cursor: pointer;
}

.projectCard h3{
    font-size: large;
    margin-bottom: 10px;
    color: var(--secondary-color);
}

.projectCard p{
    max-width: 300px;
    font-size: medium;
}

.projectSkills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
}

.projectSkillItem{
    font-size: small;
    margin-top: 2px;
    margin-right: 5px;
    color: var(--secondary-color);
}

.showMoreButton{
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.showMoreButton:hover{
    border-color: #f0f0f0;
    transform: translate(-5px,-5px);
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}