.skills {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    width:100%
}

.skills h2 {
    width: 30%;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skillsContentSections {
    width: 70%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
    max-width:700px;
}

.skillsection {
    padding: 5px;
}

.skillsection h4{
    width: fit-content;
    padding: 10px;
    color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.skillsection p{
    padding: 10px;
}

@media (max-width: 900px) {
    .skills{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .skills h2{
        font-size:2rem;
        width: 100%;
    }
    
    .skillsContentSections{
        width: 100%;
        margin: 0 8px;
    }

    .skillsection h4{
        font-size: small;
    }

    .skills p{
        font-size: smaller;
    }
}