.leftLinks{
    position: fixed;
    bottom: 0;
    left:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:10;
}

.linkList{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap:20px;
}

.verticalLine{
    width:2px;
    height:100px;
    background-color: #ebf5ee;
    margin-top: 20px;
}

.linkItem:hover svg{
    stroke: var(--secondary-color); /* Change stroke color on hover */
    transform: scale(1.2); /* Increase the size of the icon by 20% */
    transition: stroke 0.3s ease, transform 0.3s ease;
}