.experience {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 100%;
    height: 100vh;
}

.experience h2 {
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.experienceContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    position: relative;
}

/* Company list styles */
.companyList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-left: 40px; /* Add margin as needed */
}

/* Line before company list */
.companyList::before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px; /* Adjust this value for spacing between list and line */
    height: 100%;
    width: 3px;
    background-color: #ccc; /* Default line color */
}

/* Company item styles */
.companyItem {
    position: relative;
    padding-left: 20px; /* Space to keep item away from the line */
    margin: 10px 0;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.25rem;
    transition: color 0.3s;
    width: max-content;
}

/* Selected company item styles */
.companyItem.selected {
    color: var(--secondary-color);
    font-weight: bold;
}

.companyItem.selected::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: var(--secondary-color); 
}

/* Role description styles */
.roleDescription {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
    /* position: absolute; */
}

.roleDescription h3 {
    margin: 10px 0;
    color: var(--secondary-color);
    font-size: 1.25rem;
}

.roleDescription ul {
    list-style-type: disc; /* Default bullet style */
    margin-top: 20px;
    padding-left: 20px;
}

.roleDescription li {
    margin-bottom: 8px; 
}

/* Media query for smaller screens */
@media (max-width: 900px) {
    .experience{
        height: auto;
        margin:200px 0;
    }

    .experienceContent {
        flex-direction: column; /* Stack the company list and description vertically */
        align-items: center; /* Center align items */
    }

    .companyList {
        margin-left: 0; /* Remove left margin */
        position: static; /* Reset position */
    }

    .companyList::before {
        display: none; /* Remove the left line */
    }

    .companyItem{
        font-size: 1rem;
    }

    .roleDescription {
        margin-left: 0; /* Remove left margin for description */
        padding: 10px; /* Adjust padding as needed */
    }

    .roleDescription h3{
        font-size:1rem;
    }
}
